#department-form {
    display:flex;
}
.header-alert {
    margin:20px;
}
#department-info {
    width: 100%;
    margin: 20px;
}
#department-list-box {
    height: 500px;
    width: 500px;
}
.company-item {
    cursor: pointer;
}
.active-item{
    cursor: pointer;
    background-color: lightblue;
    border: 1px solid blue; 
    
}

.workplace-item {
    cursor: pointer;
}