#department-detail-closebtn {
  border: none;
  background-color: transparent;
}
#department-detail-header {
  display: flex;
  justify-content: space-between;
}
#department-detail-menu-form {
  display: flex;
  border-bottom: 2px solid gray;
}
.department-detail-menu {
  display: flex;
  justify-content: center;
  width: 150px;
  font-size: 20px;
}
.department-detail-basicmenu {
  border-right: 1px solid gray;
}
.department-table-title {
  width: 200px;
  height: 50px;
}
#department-table {
  border-top: 2px solid black;
  margin-top: 20px;
  width: 100%;
}
#department-table tr {
  border-bottom: 1px solid grey;
}
#department-table .department-table-title {
  background-color: #efefef;
  text-align: end;
  font-weight: bold;
}
.department-table-content {
  padding: 5px;
}
.department-table-content-flex {
  display: flex;
}
.content-have-button {
  display: flex;
}

#department-modal:hover {
  background-color: gray;
}

.emp_input[type="text"] {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 13px;
}
.emp_input[type="text"]:focus {
  border-color: rgb(100, 173, 247);
  box-shadow: 0 0 5px 0.1px rgb(100, 173, 247);
}
