
#companyform {
    display: flex;
}

.emphasisfont {
    color : #25acfd;
}

.line {
    border-color: #d6d6d6;
}

.companylistbox {
    overflow: scroll;
    border: 1px solid gray;
    width: 330px;
    height: 500px;
    background-color: #f0f0f0;
}
.companylistboxheader {
    border-bottom: 1px solid gray;
    height: 30px;
    padding: 10px 5px 5px 10px;
}
.companylistbox ul {
    padding: 0px 0px 0px 10px;
}
.box {
    border: 1px solid gray;
    border-radius: 10px;
    width: 280px;
    height: 70px;
    margin-bottom: 5px;
}

.box li {
    list-style: none;
}


.companylistmenu:hover {
    background-color: tomato;
    opacity: 0.3;
}
#idaddbox {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right:1px solid gray;
    width: 330px;
    height: 150px;
    display: flex;
    justify-content: center;
}

#idaddbutton {
    border: none;
    background-color: transparent;
}
#addfont {
    font-size: 20px;
    opacity: 0.5;
}

#companynotselectform {
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-info {
    width:100%;
    padding: 10px 10px 10px 20px; 
}