
.layout_lnb{
    border: 1px solid black;
    padding: 0px;
    /* height: 100vh; */
}

.layout_gnb{
    border: 1px solid black;
    padding: 0px;
}

.layout_callmenu{
    border: 1px solid black;
    padding: 0px;
    width: 15%;
    height: 100vh;
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
}