@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.check{
    margin: 7px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.item{
    font-size: 15px;
    cursor: pointer;
}

.level1_item{
    background-color: rgba(197, 205, 211, 0.479);
    font-size: 17px;
    height: 40px;
    padding-top: 6px;
}.level1_item:hover{
    background-color: rgba(176, 182, 186, 0.577);
    transition:.2s;
}

.menu_btn{
    padding: 3px;
    border: none;
    /* margin-right: 7px; */
}

.menu_btn:hover{
    /* background-color: rgba(219, 222, 225, 0.63); */
	transition:.2s;
	color: rgb(39, 40, 41);
	font-weight: bolder;
}

.menu_sub{
    border-left: 0.124em dashed black;
    padding-left: 5px;
}.menu_sub:hover{
    color: rgb(0, 170, 255);
    font-weight: bolder;
}

.menu_click{
    color: rgb(0, 170, 255);
}