@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.check{
    margin: 7px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.item{
    font-size: 15px;
}

.menu_btn{
    padding: 3px;
    border: none;
    margin-right: 7px;
}

.menu_btn:hover{
    background-color: rgba(219, 222, 225, 0.63);
	transition:.3s;
	color: rgb(39, 40, 41);
	font-weight: bold;
}

.menu_sub{
    border-left: 0.124em dashed black;
    padding-left: 5px;
}