@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.lnb{
    /* text-align: left; */
    float: left;
    width: 15%;
    height: 100vh;
    /* background-color: rgba(211, 212, 216, 0.521); */
    background-color: rgba(48, 46, 46, 0.815);
    color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
}

h4{
    text-align: center;
}
