.authNav.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #000;
  --bs-nav-pills-link-active-bg: #e6f3fd;
  padding: 0;
}

.nav-link.authLnb {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  background-color: #fff;
  border: #efefef 2px solid;
}
#authDropDown {
  width: 300px;
}
.nav-link.authLnb.active {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border: #00aaff 2px solid;
}

.authPagi .page-link.active,
.authPagi .active > .authPagi .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #00aaff;
  border-color: #00aaff;
}
